@charset "UTF-8";

main    {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden; /* No scroll */
}

/*To enable scrolling.*/
.half-page-content  {
    display: block;
    padding: 30px;
    overflow-y: auto;
}