@charset "UTF-8";

main    {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden; /* No scroll */
}

/*To enable scrolling.*/
.signup-card-1, .signup-card-2, .signup-card-3  {
    display: block;
    padding: 30px;
    overflow-y: auto;
}

button  {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
}